

#main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
}


.dashboard{
    width: 40rem;
    height: 100%;
    border: 2px solid var(--main);
    border-radius: 0.4rem;
    background: var(--main);
    z-index: 1;
    /* position: fixed; */
    transition: all ease 1s;
}


.dashboard .boxImg{
    width: 100%;
    height: 28rem;
    background: var(--bg);
    box-shadow: 3px 0px 15px var(--lightcolor);
    margin-bottom: 2rem;
}

.boxImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.dashboard nav{
    width: 100%;
    height: 50%;
    margin-top: 2rem;
}

.dashboard nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

nav ul button{
    width: 20rem;
    display: block;
    background: transparent;
    border: 1px solid var(--lightcolor);
    border-radius: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

nav ul button.active,
nav ul button:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px var(--bg), 1px 1px 15px var(--lightcolor);
}



button .icon{
    font-size: 2.3rem;
    text-align: center;
}


.containerPage{
    width: 100%;
    height: 100vh;
    padding: 1rem 2rem;
    overflow: hidden;
    color: var(--main);
    background: var(--bg);
}

.arrowLeft, .arrowRight{
    display: none;
}


@media screen and (max-width: 450px) {

    #main{
        overflow: scroll;
    }

.arrowLeft{
    display: block;
    position: absolute;
    right: -2%;
    transform: rotate(-90deg);
    bottom: 30%;
}

.arrowRight{
    display: block;
    position: fixed;
    left: -3%;
    bottom: 30%;
    z-index: 1;
    transform: rotate(90deg);
    animation: rotation .5s infinite linear;
}

.arrowRemove{
    display: none;
}


@keyframes rotation {
    5%{
        transform: rotate(30deg)
    }

    40%{
        transform: rotate(90deg)
    } 
    80%{
        transform: rotate(115deg)
    } 
}


.dashboard{
    position: absolute;
    min-height: 110vh;
}


#dashboard_hide{
    transform: translateX(-330px);
}

#dashboard_displaying{
    position: absolute;
    transform: translateX(0);
}

}


@media screen and (max-width: 330px) {
    .dashboard{
        height: 120vh;
    }
}
@media screen and (max-width: 250px) {
    .dashboard{
        height: 170vh;
    }
}