


.profile .name{
    font-size: 1.5vw;
    color: var(--secondary);
    font-weight: 500;
    text-transform: capitalize;
    margin: 1vw;
}

.profile .name span{
    color: var(--main);
    font-weight: bold;
    text-transform: capitalize;
}


.profile .description{
    font-size: 1.2vw;
    color: var(--secondary);
    text-transform: capitalize;
    margin: 0 0.8vw;
}


 .box{
    display: flex;
    height: 50%;
    justify-content: start;
    align-items: center;
    margin-top: 2rem;
}


 .box .left{
    width: 60%;
    height: 100%;
    background: var(--main);
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 1vw;
}


 .box .left .boxText{
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .box .left .boxText{
    padding: 0.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: count 2s ease-in-out ;
}


@keyframes count {
    10% {
        transform: scale(3);
    }
    90% {
        transform: scale(1);
    }
}


.boxText h2{
    font-size: 2vw;
    text-align: center;
    letter-spacing: 2px;
}





.boxText p{
    font-size: 1vw;
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
}

 .box .right{
    height: 100%;
    width: 40%;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box .right h3{
    font-size: 1.3vw;
    color: var(--main);
    text-align: left;
    text-transform: capitalize;
    text-decoration: underline;
}


.box .right .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box .content .icon{
    width: 3vw;
    height: 3vw;
    object-fit: cover;
    margin-right: 1vw;
}

.box .content h4{
    font-size: 1vw;
    margin-bottom: 0.2vw;
    color: var(--main);
}

.box .content p{
    font-size: 0.9vw;
    color: var(--secondary);
}
.menu{
    display: none;
}

@media screen and (max-width: 900px) {
     .box{
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        height: 55vh;

    }

    .profile .name{
        font-size: 1.5rem;
        text-align: center;
    }

    .profile .description{
        font-size: 1.2rem;
    }

     .box .left{
        width: 100%;
    }

    .boxText h2{
        font-size: 4rem;
    }

    .boxText p{
        font-size: 1.5rem;
    }



     .box .right{
        margin-top: 2vw;
        width: 100%;
        align-items: start;
    }

    .box .right .content{
        flex-direction: row;
    }

    .box .right h3{
        font-size: 2.3vw;
    }

    .box .right .content h4{
        font-size: 1.5rem;
        margin-top: 0.8rem;
    }

    .box .right .content p{
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 470px) {
    
    .profile .name{
        font-size: 1.3rem;
        margin: 1rem auto;
    }

    .profile .description{
        font-size: 1.5rem;
        line-height: 1.9rem;
    }
     .boxText h2{
        font-size: 3rem;
    }

    .boxText p{
        font-size: 1.1rem;
    }

    .box .right{
        margin-bottom: 2rem;
        height: 100%;
        padding-bottom: 3rem;
    }

    .box .right h3{
        font-size: 1.9rem;
        text-align: center;
        margin: 0.4rem auto;
    }

    .box .right .content h4{
        font-size: 1.6rem;
    }
    .box .right .content p{
        font-size: 1.4rem;
    }

    .box .right .content .icon{
        width: 15vw;
        display: none;
    }

    .box .right .content{
        margin: 0.4rem 0;
    }



    .menu{
        display: block;
        font-size: 4rem;
        position: absolute;
    }
}
